<body id="top_body">
<div class="text-cneter">
  <h1>AP Team Factory</h1>
  <p><%= link_to 'はじめよう', new_user_path, class: 'btn btn-light' %></p>
  <p><%= link_to 'このアプリについて', tops_detail_path %></p>
</div>
</body>
