<h1>プレイヤーの編集</h1>
<nav class="justify-content-end">
  <%= link_to '一覧', players_path, class: 'btn btn-primary' %>
</nav>
<%= render 'form', player: @player %><br>
<p><%= link_to '戻る', player_path(@player.id), class: 'btn btn-primary' %></p>
